{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "modules": false,
                    "esmodules": true
              }
            }
        ]
    ]
}
